AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_REGION=<AWS_REGION>
BUCKET_NAME=<S3_BUCKET_NAME>

SQS_URL=<SQS_QUEUE_URL>

user=<POSTGRES_USER>
password=<POSTGRES_PASSWORD>
host=<POSTGRES_HOST>
port=<POSTGRES_PORT>
dbname=<POSTGRES_DB>

JWT_SECRET=<JWT_SECRET>

REDIS_HOST=<YOUR_REDIS_HOST>
REDIS_PORT=<YOUR_REDIS_PORT>
REDIS_USERNAME=<YOUR_REDIS_USERNAME>
REDIS_PASSWORD=<YOUR_REDIS_PASSWORD>

FRONTEND_URL=http://localhost:5173